.container {
    height: 100vh;
    font-family: "BRFirma-Medium", sans-serif;
    // padding-block-end: 4rem !important;
  }
  
  .sidebar {
    position: fixed;
    // height: 100vh;
    height: 100%;
    white-space: nowrap;
    background-color: var(--color-primary);
    border-inline-end: 1px solid #e5e6e6;
    overflow-y: auto;
    min-width: 15%;
    z-index: 100;
    border-radius: 2rem;
    margin-block: 1rem;
  
    @media (max-width: 912px) {
      display: none;
      width: 70%;
      text-wrap: wrap;
    }
  }
  
  .mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline-start: 20.813rem;
    height: 100vh;
  
    @media (max-width: 912px) {
      padding-inline-start: 0;
    }
  }
  
  .children {
    padding-inline: 3.69rem;
    // padding-inline-end: 7.56rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
  
    @media (min-width: 2000px) {
      padding-inline-start: 15rem;
    }
  
    // @media (max-width: 1024px) {
    //   padding-inline-start: 1rem;
    //   padding-inline-end: 1rem;
    // }
  }
  
  .logo {
    padding-inline-start: 1.25rem;
    padding-block-start: 1.5rem;
    width: 5.125rem;
    height: 1.94594rem;
  
    @media (max-width: 912px) {
      padding-block-start: 0;
    }
  }
  
  .sidebarNav {
    padding-inline: 0.75rem;
    padding-block: 2.44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    font-size: 1.2rem;
  
    & a,
    label {
      display: flex;
      align-items: center;
      gap: 0.62rem;
      background-color: transparent;
      border-radius: 0.625rem;
      padding-block: 0.87rem;
      padding-inline: 0.5rem;
      color: #ffffff;
  
      &:hover {
        background-color: #ce9938;
        //   color: #11643c;
      }
    }
    span {
      display: flex;
      align-items: center;
    }
  
    @media (max-width: 912px) {
      padding-inline: 0;
    }
  }
  
  .sidebarNav a.activeLink {
    background-color: #ce9938;
    color: #ffffff;
    font-weight: 700;
  
    & svg path {
      fill: #11643c;
    }
  }
  
  .divider {
    background-color: #e5e6e6;
    border: none;
    height: 1px;
    width: 100%;
    margin-block: 0.5rem;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.87rem;
    padding-block: 1rem;
    padding-inline-start: 3.75rem;
    padding-inline-end: 2.5rem;
    border-block-end: 1px solid #e5e6e6;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 20;
  
    @media (max-width: 768px) {
      padding-inline-start: 1rem;
      padding-inline-end: 1rem;
    }
  }
  
  .title {
    color: #011602;
    font-size: 1.5rem;
  
    @media (max-width: 912px) {
      font-size: 1rem;
    }
  }
  
  .headerMenuGroup {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  
    & .menuBtn {
      display: none;
      border: none;
      @media (max-width: 912px) {
        display: block;
      }
    }
  }
  
  .headerGroup {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  
    & label {
      color: #67686d;
      font-size: 0.875rem;
      letter-spacing: 0.0875rem;
  
      @media (max-width: 912px) {
        display: none;
      }
    }
  }
  
  .notifications {
    position: relative;
    border: none;
    background-color: transparent;
  
    &:hover {
      filter: none;
    }
  }
  
  .notifyCount {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #ea6664;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
  
  .account {
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.62rem;
    padding-block: 0.19rem;
    border-radius: 0.99169rem;
    background-color: #e5e6e6;
    display: flex;
    align-items: center;
    gap: 0.37rem;
    border: none;
    outline: none;
  
    & img {
      width: 1.8125rem;
      height: 1.8125rem;
      border-radius: 50%;
    }
  }
  
  .dropdown {
    width: 25.1875rem;
    border-radius: 1.25rem;
    background-color: #fff;
    border: 1px solid #e5e6e6;
    box-shadow: 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
  
    @media (max-width: 768px) {
      width: 20rem;
      padding-inline: 0.5rem;
    }
  }
  
  // .profile {
  //   display: flex;
  //   align-items: center;
  //   gap: 0.56rem;
  
  //   & img {
  //     width: 3.75rem;
  //     height: 3.75rem;
  //     border-radius: 50%;
  //   }
  // }
  
  .alerts {
    display: flex;
    align-items: flex-start;
    padding-block-start: 1.25rem;
    gap: 1.06rem;
  
    & .notifications {
      margin-block-start: 0.5rem;
    }
  }
  
  .smallBell {
    width: 0.875rem;
    height: 0.875rem;
  }
  .smallBell ~ span {
    position: absolute;
    top: -5px;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ea6664;
    border: 1px solid #ffffff;
  }
  
  .alertContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.56rem;
    color: #011602;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-block-end: 1.25rem;
    border-block-end: 0.0625rem solid #e5e6e6;
  }
  
  .alertDetails {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #67686d;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  
  .alertActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.25rem;
  
    & label,
    a {
      font-size: 0.875rem;
      line-height: 0.875rem;
      color: #384853;
      font-weight: 600;
    }
  
    & label:first-of-type {
      color: #11643c;
    }
  }
  
  // .bulletSeparator {
  //   width: 0.25rem;
  //   height: 0.25rem;
  //   border-radius: 50%;
  //   background-color: #67686d;
  // }
  
  .transparentButton {
    background-color: transparent;
    border: none;
    color: #67686d;
    font-size: 0.875rem;
    font-weight: 300;
    padding-inline: 0;
    padding-block-start: 1.5rem;
    padding-block-end: 0;
  }
  
  // .noDisplay {
  //   visibility: hidden;
  // }
  
  .name {
    color: #ffffff !important;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.7rem;
    padding-inline-end: 4rem;
  }
  
  .logo {
    height: 7rem;
    width: 7rem;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 10px;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  
    & input {
      border: none;
      outline: none;
      height: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
  
      &::placeholder {
        color: var(--color-primary);
      }
    }
  }
  .avatar {
    width: 4rem;
    height: 4rem;
  }
  