.heading {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4rem;
    // font-family: BR Firma;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #02121B
    ;
    // padding-bottom: 0.8rem;
    margin-block-end: 4rem;
  
    // @media (max-width: 480px) {
    //   font-size: 5em;
    // }
  }
  .para{
    color:#6D7D85;
    font-size: 1.6rem;
  }